#
# temperature-sensor-reader - https://github.com/blueskyfish/temperature-sensor-reader.git
#
# The MIT License (MIT)
# Copyright (c) 2015 BlueSkyFish
#

# JetBrains
.idea/
*.iml

node_modules/

dist/
